.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
}

.headerApp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainApp {
    margin-top: 150px;
}

.mainContent h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.mainContent {
    margin-bottom: 70px;
}